################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HttpLambda/v17
/src/HttpLambda/.vs/HttpLambda
/src/HttpLambda/bin
/src/HttpLambda//Properties/launchSettings.json
/src/HttpLambda/obj
/test/HttpLambda.Tests/bin/Debug/netcoreapp3.1
/test/HttpLambda.Tests/obj
/.vs

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
/src/HttpLambda/Properties/launchSettings.json
